body {
    margin: 0px;
    padding: 0px;
}

.wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #9A3B3B;
}

.wrap-brand {
    margin-left: 20px;
    box-sizing: border-box;
}

.wrap-brand a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.wrap-brand a p { 
    font-weight: bolder;
}

.wrap-brand a p:nth-child(2){
    font-weight: 50;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.wrap-brand a:hover {
    font-size: 100%;
    color: #E2C799;
    transition: all .5s ease-in-out;
}

.wrap-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrap-nav ul {

    padding: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
}

.wrap-nav ul li {
    height: 50px;
    width: 100px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list {
    background-color: white;
    border-radius: 10px;
}

.menu-list a {
    color: #9A3B3B !important;
}

.wrap-nav ul li a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}

.wrap-nav ul li a:hover{
    font-size: 25px;
    transition: all .5s ease-in-out;
}