/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    background-color: #9A3B3B;
    height: 90px;
    width: 100%;
}

.wrap-header { 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nama-brand a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 35px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 15px;
    padding-bottom: 20px;
    color: white;
}

.nama-brand a h1:hover {
    border-radius: 15px;
    transition: .3s ease-in-out;
    width: 83px;
    font-size: 30px;
}

.nama-brand a h1 {
    font-weight: 800;
}

.nama-brand a h1:nth-child(2){
    font-weight: 400;
}

.navigation {
    padding: 15px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}


.navigation ul li {
    display: inline-block;
   padding: 15px;
   font-size: 20px;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
}

.navigation ul li:hover {
    background-color: #C08261;
    border-radius: 30px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

.image {
    height: 300px;
    background-image: url(lampung.png);
    background-size: cover;
    background-position: 0 -8em;
    border-top: 5px solid #C08261;
    border-bottom: 5px solid #C08261;
}

article {
    background-color: #F2ECBE;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrap-arc {
    padding: 20px;
}

table tr td img {
    padding: 20px;
    padding-bottom: 0px;
    width: 200px;
    border-radius: 20%;
}

.bio {
    padding: 20px;
    width: 100%;
    text-align:justify;
    vertical-align: top;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrap-bio {
    padding: 0px 15px 15px 15px;
    height: 60px;
}

.bio h3 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 800;
    height: 25px;
    padding-bottom: 10px;
    color: #9A3B3B;
    display: flex;
    justify-content: flex-start;
}

.bio h3:hover {
    color: #C08261;
    font-size: 30px;
    transition: .3s;
}

.bio p {
    font-size: 12px;
    padding-bottom: 10px;
}

.bio p:hover {
    font-size: 13px ;
    font-weight: 800;
    transition: .2s;
}

.namakita p {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    height: 80px;
}

footer {
    background-color: #9A3B3B;
    padding-top: 40px;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    border-top:5px solid#C08261;
}    

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.footer-content p{
    max-width: 50%;
    font-size: 11px;
}

.media ul {
    background-color: #9A3B3B;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    padding: 10px 580px 10px;
}

.media ul li {

}